<?xml version="1.0"?>
<robot name="top_cam" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find top_cam)/urdf/common.urdf.xacro" />
  <xacro:include filename="$(find top_cam)/urdf/fixed_camera.urdf.xacro" />

  <!-- for gazebo requirement -->
  <!-- https://classic.gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros -->
  <link name="world" />

  <!-- base Definition -->
  <link name="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <visual>
      <geometry>
        <box size="0.03 0.03 0.03"/>
      </geometry>
      <material name="White" />
    </visual>
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <xacro:box_inertia m="0.1" x="0.01" y="0.01" z="0.01" />
    </inertial>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/White</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
 
  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world" />
    <child  link="base_link" />
  </joint>

  <!-- camera link -->
  <xacro:fixed_camera number="0" parent="base_link"
    transX="0" transY="0" transZ="2.5" roll="-1.57" pitch="1.57" yaw="0.0" />

  <xacro:fixed_camera number="1" parent="base_link"
    transX="-1.2" transY="0.0" transZ="1.7" roll="0.0" pitch="1.2" yaw="0.0"/>
</robot>
